body {
    background-color: black;
    font-family: RalewayDots-Regular;
    color: white;
}

@font-face {
    font-family: Ndot-55;
    src: url(../fonts/Ndot-55.otf);
}

@font-face {
    font-family: RalewayDots-Regular;
    src: url(../fonts/RalewayDots-Regular.ttf);
}
